* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* flex styles */
.flexContainer {
  display: flex;
  justify-content: space-evenly;
}

.flexItem {
  flex-basis: 400px;
  /* flex-shrink: ; */
}
/* ---------- */
/* 

/* other */

.parent {
  padding: 40px 0;
  border: 5px solid black;
  background-color: teal;
}

.child {
  border: 1px solid red;
  background-color: thistle;
  color: white;

  font-family: monospace;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

.child:nth-child(odd) {
  border-color: yellow;
  background-color: tomato;
}
